<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weathericon.png">
        <link rel="stylesheet" href="./css/styles.css">
        <body>
            <div class="main-content">
                 {{>header}} <!--render a partial -->
                 <p>{{helpGuide}}</p>
                 <img class="help" src="/img/help.jpg">
            </div>
           
        <!--    <h1>Help</h1> -->
            <p>Phone: 00962790737647</p>
            <p>e-mail: kayed_obeidat@hotmail.com</p>
            {{>footer}}
        </body>
    </head>
</html>
