<header> <!-- we created something like buttoms to swap between the pages that I create -->
    <h1>{{title}}</h1>
    <a href="/">Weather</a> <!-- href means the location we want too send this link to -->
    <a href="/about">About</a>
    <a href="Help">Help</a>    
</header>